html, body {
	overflow-x: hidden;
}

/* ♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞ ШРИФТЫ  ♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞♞*/
@font-face {
    font-family: 'UbuntuB';
    src: url('fonts/UbuntuB.eot');
    src: url('fonts/UbuntuB.eot') format('embedded-opentype'),
         url('fonts/UbuntuB.woff2') format('woff2'),
         url('fonts/UbuntuB.woff') format('woff'),
         url('fonts/UbuntuB.ttf') format('truetype'),
         url('fonts/UbuntuB.svg#UbuntuB') format('svg');
}




@font-face {
    font-family: 'UbuntuM';
    src: url('fonts/UbuntuM.eot');
    src: url('fonts/UbuntuM.eot') format('embedded-opentype'),
         url('fonts/UbuntuM.woff2') format('woff2'),
         url('fonts/UbuntuM.woff') format('woff'),
         url('fonts/UbuntuM.ttf') format('truetype'),
         url('fonts/UbuntuM.svg#UbuntuM') format('svg');
}

@font-face {
    font-family: 'UbuntuR';
    src: url('fonts/UbuntuR.eot');
    src: url('fonts/UbuntuR.eot') format('embedded-opentype'),
         url('fonts/UbuntuR.woff2') format('woff2'),
         url('fonts/UbuntuR.woff') format('woff'),
         url('fonts/UbuntuR.ttf') format('truetype'),
         url('fonts/UbuntuR.svg#UbuntuR') format('svg');
}

/* ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄ ГЛАВНЫЙ ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄*/

section#main {
	padding-top: 20px;
	height: 1000px;
	background: url(../img/main-bg.jpg) no-repeat center center;
	background-size: cover;
}

.phone h3 {
	color: #fff;
	font-family:'UbuntuM' ;

}

.phone a:hover {
	text-decoration: none;
	
}

.phone p {
	color: #fff;
	font-family:'UbuntuR' ;
}

.social img {
	width: 40px;
}

.social {
	padding-top: 10px;
	padding-left: -20px;
}

.header h1 {
	color: #fff;
	font-family: 'UbuntuB';
	text-transform: uppercase;
	margin-top: 130px;
	margin-top: 3%;
}

.header-form h2 {
	font-family:'UbuntuM' ;
	color: #690013;
	
}

.main-form {
	background-color: rgba(255, 255, 255, 0.47);
	padding-bottom: 30px;
	margin-top: 5%;
}

.main-form input {
	width: 80%;
	padding: 10px;
	border: none;

	-webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 -ms-border-radius: 5px;
	 -o-border-radius: 5px;
	 border-radius: 5px; 
	
}

.main-btn {
	border-radius: 5px;
	background-color:  #a60436;
	border: none;
	border-bottom: 3px solid #8c052f;
	padding: 12px 40px;
	color: #fff;
	font-family:'UbuntuM' ;
}

.main-btn:hover{
	background: #e00a4c;
	border-bottom: 1px solid #8c052f;
	margin-top: 2px;
}

.main-btn:focus{
	background: #000;
}

.main-btn:active{
	background: #0000FF;
}

/* ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄ ЯЙЦА  ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄*/

section#eggs {
	padding-top: 3%;
}

section#eggs h2{
	font-family: 'UbuntuB';
}

section#eggs h4{
	font-family: 'UbuntuM';
	color: #A90538;
}

.header-eggs h2{
	color: #363636;
	font-size: 24px;
}

.icons img {
	width: 100px;
}

.icons {
	margin-top: 3%;
}

/* ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄ ЦЕНЫ  ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄*/

section#price {
	padding-bottom: 3%;
}

.header {
	margin-bottom: 3%;
}

.card {
	border: 4px solid #A60436;
	padding-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.card h3 {
	font-family: 'UbuntuB';
}

.card h4 {
	font-family: 'UbuntuB';
}

.card img{
	width: 100%;
}

.card ul li{
	list-style-image: url(../img/check.png);
	font-family: 'UbuntuM';
}

.card .card-btn{
	border-radius: 5px;
	background-color:  #a60436;
	border: none;
	border-bottom: 3px solid #8c052f;
	padding: 12px 40px;
	color: #fff;
	font-family:'UbuntuM' ;
}

.card .card-btn:hover{
	background: #e00a4c;
	border-bottom: 1px solid #8c052f;
	margin-top: 2px;
}

.card .card-btn:focus{
	background: #000;
}

.card .card-btn:active{
	background: #0000FF;
}

/* ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄ ФУТЕР  ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄*/

section#footer {
	padding-top: 20px;
	background: url(../img/main-bg.jpg) no-repeat center center;
	background-size: cover;
}

#footer h2 {
	margin-bottom: 40px;
	font-family: 'UbuntuB';
}

.footer-form {
	background-color: rgba(255, 255, 255, 0.47);
	padding-bottom: 30px;
	

}

.footer-form input {
	width: 80%;
	padding: 10px;
	border: 1px solid #FFFFFF;
	border: 2px solid #959595; /* Параметры рамки */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px; 
}

/* ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄ Адаптив  ❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄❄*/

@media(min-width: 0) and (max-width: 320px) {
	

	.logo  {
		text-align: center;
	}

	img#suka-logo {
		width: 70px;
	}

	.social img {
		width: 20px;
	}

	.logo-revizzoro img{
		width: 70px;
	}

	#main h3, p {
		text-align: center;
	}

	h1 {
		font-size: 20px;
	}

	.header-form h2 {
		font-size: 16px;
	}

	.main-form input {
		margin-top: 5px;
	}

	.main-form button {
		margin-top: 9px;
	}

	.main-form button:hover {
		margin-top: 11px;
	}

	.main-form  {
		margin-left: 4px;
		margin-right: 4px;
	}
	
	section#main {
		height: 600px;
	}
	
	.header-eggs h2 {
		font-size: 18px;
	}

	section#eggs h4 {
		font-size: 18px;
	}

	.header h2 {
		font-size: 20px;
	}

	.card {
		margin-top: 5px;
	}

}

@media(min-width: 321px) and (max-width: 480px) {

	.logo  {
		text-align: center;
	}

	img#suka-logo {
		width: 70px;
	}

	.social img {
		width: 20px;
	}

	.logo-revizzoro img{
		width: 70px;
	}

	#main h3, p {
		text-align: center;
	}

	h1 {
		font-size: 20px;
	}

	.header-form h2 {
		font-size: 16px;
	}

	.main-form input {
		margin-top: 5px;
	}

	.main-form button {
		margin-top: 9px;
	}

	.main-form button:hover {
		margin-top: 11px;
	}

	.main-form  {
		margin-left: 4px;
		margin-right: 4px;
	}
	
	section#main {
		height: 600px;
	}
	
	.header-eggs h2 {
		font-size: 18px;
	}

	section#eggs h4 {
		font-size: 18px;
	}

	.header h2 {
		font-size: 20px;
	}

	.card {
		margin-top: 5px;
	}

}

@media(min-width: 481px) and (max-width: 768px) {

	.logo  {
		text-align: center;
	}

	img#suka-logo {
		width: 100px;
	}

	.social img {
		width: 20px;
	}

	.logo-revizzoro img{
		width: 100px;
	}

	#main h3, p {
		text-align: center;
	}

	h1 {
		font-size: 26px;
	}

	.header-form h2 {
		font-size: 16px;
	}

	.main-form input {
		margin-top: 5px;
	}

	.main-form button {
		margin-top: 9px;
	}

	.main-form button:hover {
		margin-top: 11px;
	}

	.main-form  {
		margin-left: 4px;
		margin-right: 4px;
	}
	
	section#main {
		height: 600px;
	}
	
	.header-eggs h2 {
		font-size: 18px;
	}

	section#eggs h4 {
		font-size: 18px;
	}

	.header h2 {
		font-size: 20px;
	}

	.card {
		margin-top: 5px;
	}

}

@media(min-width: 769px) and (max-width: 992px) {

	.logo  {
		text-align: center;
	}

	img#suka-logo {
		width: 120px;
	}

	.social img {
		width: 20px;
	}

	.logo-revizzoro img{
		width: 100px;
	}

	#main h3, p {
		text-align: center;
	}

	h1 {
		font-size: 26px;
	}

	.header-form h2 {
		font-size: 16px;
	}

	.main-form input {
		width: 100%;
		margin-left: 2px;
	}

	.main-form button {
		padding-top: 10px 20px;
	}

	.main-form button:hover {
		margin-top: 11px;
	}

	.main-form  {
		width: 100%;
	}
	
	section#main {
		height: 600px;
	}
	
	.header-eggs h2 {
		font-size: 18px;
	}

	section#eggs h4 {
		font-size: 18px;
	}

	.header h2 {
		font-size: 20px;
	}

	.card {
		margin-top: 7px;
	}

}

@media(min-width: 0px) and (max-width: 320px) {
}
@media(min-width: 321px) and (max-width: 480px) {
}
@media(min-width: 481px) and (max-width: 768px) {
}
@media(min-width: 769px) and (max-width: 992px) {
}
@media(min-width: 993px) and (max-width: 1200px) {
}